<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>Angular JS TIPS</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="./bundles/angular.min.js"></script>
        <script src="./bundles/angular-messages.min.js"></script>
        <script src="./scripts/form.js"></script>
    </head>
    
    <body ng-controller="MyController">
        <form name="myForm" ng-submit="onsubmit()" novalidate>
            <div>
                <label for="mail">メールアドレス：</label><br />
                <input id="mail" name="mail" type="email" ng-model="user.mail" required ng-minlength="3" ng-maxlength="20">
                
                <!--
                <span ng-show="myForm.mail.$error.required">
                    メールアドレスは必須です。
                </span>
                <span ng-show="myForm.mail.$error.email">
                    メールアドレスを正しい形式で入力してください。
                </span>
                -->
                

                <span ng-messages="myForm.mail.$error" ng-messages-multiple>
                    <!--
                    <span ng-message="required">メールアドレスは必須です。</span>
                    <span ng-message="minlength">メールアドレスの文字数が少なすぎます。</span>
                    <span ng-message="maxlength">メールアドレスの文字数が多すぎます。</span>
                    <span ng-message="email">メールアドレスを正しい形式で入力してください。</span>
                    -->
                    <span ng-repeat="error in errors">
                        <span ng-message-exp="error.type">{{error.message}}</span>
                    </span>
                </span>
            </div>
            
            <div>
                <label for="passwd">パスワード：</label><br />
                <input id="passwd" name="passwd" type="password" ng-model="user.passwd" required ng-minlength="6" />
                       
                <span ng-show="myForm.passwd.$error.required">
                    パスワードは必須です。
                </span>
                <span ng-show="myForm.passwd.$error.minlength">
                    パスワードは6文字以上で入力してください。
                </span>            
            </div>

            <div>
                <label for="name">名前(漢字)：</label><br />
                <input id="name" name="name" type="text" ng-model="user.name" required ng-minlength="2" ng-maxlength="10" />
                <!--
                <span ng-show="myForm.name.$error.required">
                    名前(漢字)は必須です。
                </span>
                <span ng-show="myForm.name.$error.minlength">
                    名前(漢字)は2文字以上で入力してください。
                </span> 
                <span ng-show="myForm.name.$error.maxlength">
                    名前(漢字)は10文字以内で入力してください。
                </span>
                -->
                <span ng-messages="myForm.name.$error" ng-messages-multiple>
                    <span ng-messages-include="./templates/messages_template.html"></span>
                </span>
            </div>
            
            <div>
                <label for="birth">誕生日：</label><br />
                <input id="birth" name="birth" type="date" ng-model="user.birth" required />
                
                <span ng-show="myForm.birth.$error.required">
                    誕生日は必須です。
                </span>
                <span ng-show="myForm.birth.$error.datetimelocal">
                    誕生日の書式が不正です。
                </span> 
            </div>        
            
            <div>
                <input type="submit" value="登録" ng-disabled="myForm.$invalid" />
            </div>
        </form>
    </body>
</html>

